<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1074035860383-33nkkrkalrkc9v1reqn1fp977bkdvbud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1074035860383-33nkkrkalrkc9v1reqn1fp977bkdvbud</string>
	<key>API_KEY</key>
	<string>AIzaSyDEKsz4jTobSxYfuP6mCDI4HqQWX1_vC24</string>
	<key>GCM_SENDER_ID</key>
	<string>1074035860383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>harmonica</string>
	<key>PROJECT_ID</key>
	<string>harmonica-28019</string>
	<key>STORAGE_BUCKET</key>
	<string>harmonica-28019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074035860383:ios:341e73562f2e4d373753aa</string>
	<key>DATABASE_URL</key>
	<string>https://harmonica-28019.firebaseio.com</string>
</dict>
</plist>